@font-face 
{
  font-family: emulogic;
  src: url("../fonts/emulogic.ttf");
}

table, #Optionshead {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	}

	
th {
	background-color: #585858 ;
	color: white;
	}

#options
{
	border: 1px solid black;
	width: 200px;
	
}

button {
	display: inline;
	width: 110px;
}

input {
	width: 25px;

}

#currVol {
	display: inline;
}

#volAll {

	width: 60px;
	}

span {
	color: #D00000;
}