@font-face 
{
	font-family: emulogic;
	src: url("../fonts/emulogic.ttf");
}

table, #Optionshead {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	}

th {
	color: white;
	background-color: #585858 ;
	border-radius: 0px;
	}	

button {
	display: inline;
	width: 110px;
}

span {
	color: #D00000;
}