@font-face 
{
  font-family: emulogic;
  src: url("../fonts/emulogic.ttf");
}

table, td, th {
		border-top-left-radius: 10px;
border-top-right-radius: 10px;
font-family: verdana;
font-size: 12px;
	}
	
th {
	background-color: #909090;
	color: white;
	border-radius: 0px
	}

	
	
#options
{
	border: 1px solid black;
	width: 200px;
}
#optionshead {

	background-color: black;
	color: white;
	border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

button {
	display: inline;
	width: 110px;
}

input {
	width: 25px;

}


#currVol {
	display: inline;
}

#volAll {
	width: 91px;
	}
